In [1]:
'eema'

'eema'

In [2]:
'eking\'s drive'

"eking's drive"

In [11]:
# strings+strings concatenation
'early' + 'code'

'earlycode'

In [4]:
print('early ' + 'code')

early code

In [5]:
# strings+variable concatenation
surname='omotayo'
print('my name is '+ surname )

my name is omotayo

In [6]:
#:>> variable + variable
name= 'emmanuel '
surname='Omotayo'
print(name + surname)

emmanuel Omotayo

In [1]:
#:>> strings + integers:
import random
num=random.randrange(100,200)
print('Your lucky number is ' + str(num))

Your lucky number is 144

In [10]:
print('early ' + str(num) + ' code ' + str(num))

early 190 code 190

In [7]:
#:>> formatting :
#: converting from capital to lowercase:
'MY NAME IS EMMANUEL'.lower()

'my name is emmanuel'

In [8]:
#:>> formatting:
#: converting from lowercase to uppercase
'my name is emmanuel'.upper()

'MY NAME IS EMMANUEL'

In [9]:
#:>> formatting:
#: to remove spaces from before and after a string
'  my name is emmanuel  '.strip()

'my name is emmanuel'

In [15]:
#:>> Strings as arrays : variablename[index], variablename[index:index]
num=['boy', 'girl','cat']

In [11]:
print(num.index('cat'))

2

In [16]:
num[2]

'cat'

In [18]:
num[0:3]

['boy', 'girl', 'cat']

In [19]:
#:>> use of min and max
min(234,456,768,111)

111

In [20]:
max(234,456,768,111)

768

In [21]:
man=max(234,465,768,111)
men=min(234,456,768,111)
print(man)
print(men)

768
111

In [8]:
#:>> use of random numbers
import random
random.randrange(4565,67679)

66861

In [1]:
#:>> inputs()

name= input('what is your name ')
print(f'my name is {name}')

what is your name daniel
my name is daniel

In [2]:
#:>> LIST

boy=['victor','peter','samuel','david']

In [3]:
print(boy)

['victor', 'peter', 'samuel', 'david']

In [32]:
type(boy)

list

In [33]:
#: how to access an item in a list with their index

boy[1]

'peter'

In [34]:
#:>> how to know the index of an item in a list:

print(boy.index('peter'))

1

In [35]:
#: .checking the existance of an item in a list

'car' in boy

False

In [36]:
'peter' in boy

True

In [38]:
#:>> adding of item to a list with insert:
#:>> note: insert is nuse to add an item to a list at a particular position

boy.insert(2,'ify')

In [39]:
boy

['victor', 'peter', 'ify', 'samuel', 'david']

In [12]:
#:>> adding an item to a list with append:
#:>> note: append is use to add an item at the end of a list

boy.append('come')

In [13]:
boy

['victor', 'peter', 'samuel', 'david', 'joy', 'come']

In [42]:
#:>> removing an item from a list

del  boy[3]

In [4]:
boy

['victor', 'peter', 'samuel', 'david']

In [7]:
boy.remove('peter')

In [8]:
boy

['victor', 'samuel', 'david']

In [9]:
boy.pop()

'david'

In [10]:
boy

['victor', 'samuel']

In [11]:
boy.pop(1)

'samuel'

In [12]:
boy

['victor']

In [51]:
#:>> coping a list

card= boy.copy()

In [52]:
card

['victor', 'ify']

In [24]:
#:>>  how to change the arrangement of an item in a list:

car=['toyota','lexus','peugot','benz','nissan']

In [25]:
car

['toyota', 'lexus', 'peugot', 'benz', 'nissan']

In [26]:
car.reverse()

In [27]:
car

['nissan', 'benz', 'peugot', 'lexus', 'toyota']

In [28]:
#:>> how to arrange a list in an  aplhabetical order

car.sort()

In [29]:
car

['benz', 'lexus', 'nissan', 'peugot', 'toyota']

In [30]:
#:>>counting how many times does an item appeared in a list:
car.count('lexus')

1

In [31]:
car.insert(1,'benz')

In [32]:
car

['benz', 'benz', 'lexus', 'nissan', 'peugot', 'toyota']

In [33]:
car.count('benz')

2

In [34]:
#:>> extending a list with another list

boy.extend(car)

In [35]:
boy

['victor',
 'o',
 'e',
 't',
 't',
 'e',
 'r',
 'benz',
 'benz',
 'lexus',
 'nissan',
 'peugot',
 'toyota']

In [36]:
import random
num  = random.randrange(10,30)

In [37]:
boy.extend(num)

TypeError: 'int' object is not iterable

In [38]:
boy

['victor',
 'o',
 'e',
 't',
 't',
 'e',
 'r',
 'benz',
 'benz',
 'lexus',
 'nissan',
 'peugot',
 'toyota']

In [85]:
#:>> turple
#: you can't remove ot add in a turple

boy=('stella','mike','peter')

In [86]:
type(boy)

tuple

In [87]:
boy[1]

'mike'

In [88]:
boy[0:6]

('stella', 'mike', 'peter')

In [89]:
#:>. cheking the existance of an item in a tuple
'dog'in boy

False

In [90]:
'stella'in boy

True

In [91]:
#:>> checking the tuple length
len(boy)

3

In [102]:
#: dictionary

data={'boy':['john','joe'],'girl':['joy','assumpta']}

In [103]:
data['girl']

['joy', 'assumpta']

In [104]:
#:>> calling a specific key in a dictionary

agricultural_industry={'crops':['maize','rice','beans','yam'],'livestock':['cow','pig','fowl']}

In [105]:
agricultural_industry['crops']

['maize', 'rice', 'beans', 'yam']

In [106]:
type(agricultural_industry)

dict

In [107]:
len(agricultural_industry)

2

In [108]:
'agric'in agricultural_industry

False

In [109]:
'crops'in agricultural_industry

True

In [117]:
boy=input('enter name ')
if boy==boy.upper():
    print(f'MY NAME IS {boy.lower()}')
else:
    print(f'MY NAME IS {boy.upper()}')

enter name SAMUEL
MY NAME IS samuel

In [ ]:
#CONDITONAL STATEMENT TO CHECK FOR THE COMMANDS

Age= int(input('enter age '))
if (Age>=3 and Age<=11):
    print ('primary')
elif (Age>=12 and Age<=15):
    print ('secondary')
elif (Age>=16 and Age<=40):
    print ('university')
elif (Age>=41 and Age<=69):
    print('working')
elif (Age>=70 and Age<=80):
    print('retired')
else:
    print('age not recongised')

In [ ]:
#:>> assignment: using: if, else ,and
#:>> create an email account
#:>> print 'access granted ' if information is correct
#:>> else print 'access denied' if information are not correct

In [2]:
#:>> assignment answer using if, else,and
name=input('what is your username ')
password=input('input password ')
print('YOU HAVE SUCCESSFULLY CREATED YOUR ACCOUNT')

name1=input('input your username ')
password1=input('input your password ')
if name==name1 and password==password1:
    print('access granted')
else:
    print('access denied')

what is your username you
input password gg
YOU HAVE SUCCESSFULLY CREATED YOUR ACCOUNT
input your username kk
input your password dd
access denied

In [17]:

num=int(input('number '))
nums=int(input('second number '))
result=num*nums
#print(str(num) + ' multiplied by ' + str(nums) + ' is equal to ' + str(result))
print(f'{num} multipled by {nums} is equal to {result}')

number 4
second number 5
4 multipled by 5 is equal to 20

In [2]:
13**3 >= 500

True

In [29]:
people=['roni', 'emmanuel','daniel']

In [30]:
'daniel'in people

True

In [43]:
username=input('your name ')
if username in people:
    print('access granted')
else:
    print('access denied')

your name you
access denied

In [1]:
#while loops performs an operation as long as preset condition is true

answer=3
while answer < 50:
    print(answer)
    answer+=3

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [57]:
# using a for loop to know the lenth of each item in a list
strangers=['daniel','samuel','peter']
for humans in strangers:
    print(f'{humans} has a length of {len(humans)}')

daniel has a length of 6
samuel has a length of 6
peter has a length of 5